* {
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
}

body {
    background-color: transparent;
    background: url(https://unsplash.com/photos/oD4zvae0IDA/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MTV8fHRoZWF0ZXJ8ZW58MHx8fHwxNjYxMzU1MDU4&force=true);
    /* background: url(https://images.unsplash.com/photo-1626814026160-2237a95fc5a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80); */
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
  }
  
.icon-text {
    font-size: 40px;
    color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    margin: 2% auto auto 2%;
}

i {
    color: red;
}

.block {
    color:white;
    font-family: 'Ubuntu', sans-serif;
}

.box {
    width: 50%;
    text-align: center;
    margin: 5% auto auto auto;
    background-color: black;
    opacity: .9;
}

h2 {
    font-size: 30px;
    color:crimson;
    opacity: unset;
}

.box p {
    font-size: 15px;
    color: gold;
    opacity: unset;
}

.control {
    /* margin: auto; */
}